In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key. 
from config import g_key

In [2]:
# Store the CSV you saved created in the WeatherPy into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cabo San Lucas,MX,2022-10-13 00:28:27,22.8909,-109.9124,87.51,57,0,6.91
1,1,Mar Del Plata,AR,2022-10-13 00:25:49,-38.0023,-57.5575,57.09,69,0,1.99
2,2,Ushuaia,AR,2022-10-13 00:28:27,-54.8000,-68.3000,33.46,93,75,26.46
3,3,Loandjili,CG,2022-10-13 00:28:28,-4.7561,11.8578,77.11,88,75,8.05
4,4,Longyearbyen,SJ,2022-10-13 00:28:28,78.2186,15.6401,35.44,69,40,9.22

In [3]:
# Check the datatypes of city_data_df
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Heatmap of temperature.
#Get the latitude and longitude. 
locations = city_data_df[['Lat' , 'Lng']]

# Get the maximum temperature. 
max_temp = city_data_df['Max Temp']

# Assign the figure variable. 
fig = gmaps.figure(center = (30.0 , 31.0), zoom_level = 1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp], 
                                 dissipating = False, max_intensity = 300, point_radius = 4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity.
locations = city_data_df[['Lat','Lng']]
humidity = city_data_df ['Humidity']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False,
                                 max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness.
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df ['Cloudiness']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False,
                                 max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed.
locations = city_data_df[['Lat','Lng']]
wind = city_data_df ['Wind Speed']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False,
                                 max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a miniumum and maximum temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for you trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for you trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.dropna().loc[(city_data_df['Max Temp'] <= max_temp) & 
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cabo San Lucas,MX,2022-10-13 00:28:27,22.8909,-109.9124,87.51,57,0,6.91
3,3,Loandjili,CG,2022-10-13 00:28:28,-4.7561,11.8578,77.11,88,75,8.05
7,7,Sawakin,SD,2022-10-13 00:28:29,19.1059,37.3321,81.57,75,1,6.40
17,17,Kapaa,US,2022-10-13 00:28:32,22.0752,-159.3190,84.18,91,100,11.50
18,18,Atuona,PF,2022-10-13 00:28:33,-9.8000,-139.0333,77.41,76,38,18.97

In [11]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0   Cabo San Lucas      MX     87.51  22.8909 -109.9124
3        Loandjili      CG     77.11  -4.7561   11.8578
7          Sawakin      SD     81.57  19.1059   37.3321
17           Kapaa      US     84.18  22.0752 -159.3190
18          Atuona      PF     77.41  -9.8000 -139.0333
35      Georgetown      MY     80.24   5.4112  100.3354
37           Diffa      NE     83.07  13.3154   12.6113
43      Butaritari      KI     82.11   3.0707  172.7902
45         Pitimbu      BR     79.39  -7.4706  -34.8086
52          Ixtapa      MX     85.23  20.7000 -105.2000

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# Checking hotel_df DataFrame
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Cabo San Lucas,MX,87.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
3,Loandjili,CG,77.11,-4.7561,11.8578,Résidence ARCHANGE
7,Sawakin,SD,81.57,19.1059,37.3321,فندق الدويم
17,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Atuona,PF,77.41,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
557,Langsa,ID,78.37,4.4683,97.9683,OYO 3328 Hotel Mori
560,Galveston,US,82.94,29.3669,-94.9669,Crystal Suites
566,Kayes,ML,79.86,14.0000,-11.0000,
573,Porto Novo,BJ,78.62,6.4965,2.6036,Tour Eiffel Hotel Benin
580,Tautira,PF,76.26,-17.7333,-149.1500,Pension Oaoa

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row. 
hotel_info = [info_box_template.format(**row) for index,row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))